<p>api-demo works!</p>


<div class="area"><label>請選擇區域：</label>

  @for (loc of location; track loc.LocationName) {
    <button (click)="changeLocation(loc)">
      {{ loc?.LocationName }}
    </button>
  }

  <br /><br />
  <label>已選擇： {{ chooseLocation }}</label>
</div>


<hr />

<div class="card">
  @for (weatherElement of weather; track weatherElement?.ElementName) {
    <div class="cardContent">
      <h5>{{ weatherElement?.ElementName }}</h5>

      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.Temperature) {
        <div>溫度：{{ weatherElement.Time[0].ElementValue[0].Temperature }}</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.DewPoint) {
        <div>露點溫度：{{ weatherElement.Time[0].ElementValue[0].DewPoint }}</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.RelativeHumidity) {
        <div>相對濕度：{{ weatherElement.Time[0].ElementValue[0].RelativeHumidity }}</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.ApparentTemperature) {
        <div>體感溫度：{{ weatherElement.Time[0].ElementValue[0].ApparentTemperature }}</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.ComfortIndexDescription) {
        <div>舒適度指數：{{ weatherElement.Time[0].ElementValue[0].ComfortIndexDescription }}</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.WindSpeed) {
        <div>風速：{{ weatherElement.Time[0].ElementValue[0].WindSpeed }}</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.WindDirection) {
        <div>風向：{{ weatherElement.Time[0].ElementValue[0].WindDirection }}</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.ProbabilityOfPrecipitation) {
        <div>3小時降雨機率：{{ weatherElement.Time[0].ElementValue[0].ProbabilityOfPrecipitation }}%</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.Weather) {
        <div>天氣現象：{{ weatherElement.Time[0].ElementValue[0]?.Weather }}</div>
      }
      @if (weatherElement?.Time?.[0]?.ElementValue?.[0]?.WeatherDescription) {
        <div>天氣預報描述：{{ weatherElement.Time[0].ElementValue[0]?.WeatherDescription }}</div>
      }
    </div>
  }
</div>
